/*This is for the Home CSS Page*/
img {
    position: absolute;
    top: 0px;
    right: 0px;
    
}

.menu {
    overflow: hidden;
    position: fixed;
    background-color: #711A2D;
    bottom: 0;
    width: 100%;
    text-align:center;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'verdana';
    padding: 30px 16px;
    
}

.barchart img {
    padding: 95px 0px 0px;
}
