
.menu {
    overflow: hidden;
    position: fixed;
    background-color: #711A2D;
    bottom: 0;
    width: 100%;
    text-align:center;
    margin-left: -10px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'verdana';
    padding: 30px 16px;

}


#inflow h1 {
    font-family: 'verdana';
    color: #711A2D;
    text-align: center;
}

#inflowcontent {
    margin: 30px 30%;
    align-self: center;
}

#inflowcontent a {
    align-self: center;
    border: 30px 0px;
}

#inflowcontent button {
    font-size: 15px;
    align-content: center;
    margin: 10px 30px;
}

#display h1 {
    font-family: 'verdana';
    color: #711A2D;
    text-align: center;
}

#displaytable {
    margin: 30px auto;
    padding: 30px 70px;
}

#displaytable table,tr,td,th {
    border: #000000 solid 1px;
    text-align: center;
    border-collapse: collapse;
}